/* Common */
*{
    margin: 0;
    padding: 0;
}

main,section{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

span{
    font-size: 14px;
    font-weight: 800;
}

/* heading */

.heading{
    padding: .5% 3%;
    background-color: lightblue;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 95%;
    z-index: 2;
    box-shadow: 0 0 7px 0 black;
}

.heading:hover{
    cursor: pointer;
    background-color: lightslategray;
    transition: background-color 1s;
}

nav>ul {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

nav>ul>li{
    list-style: none;
}

nav>ul>li>a{
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 800;
    color: black;
    /* background-color: rgba(255, 68, 0, 0.462); */
    border-radius: 3px;
    padding: 3px 5px;
}
nav>ul>li>a:hover{
    background: #E02C6D;
    border-radius: 10px;
    transition: font-size .2s;
    font-size: 30px;
    padding: 10px 20px;
}

h1{
    font-size: 40px;
}

/* main section */
main{
    margin-top: 8%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 1%;
    align-items: center;

}



.upper-left-part>h1{
    font-size: 60px;
}
.upper-left-part >p{
    padding-top: 3%;
    font-size: 20px;
}
.btn{
    margin-top: 30px;
    padding: 10px 24px;
    background: #E02C6D;
    border-radius: 41px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid grey;
    color: white;
}
.btn:hover{
    cursor: pointer;
    font-size: 30px;
    transition: font-size 1s ease-in-out;
}
.upper-right-part{
    padding-left: 120px;
}
.upper-right-part:hover{
    transform: rotate(360deg);
    transform-origin: center;
    transition: transform 4s ease-in-out;
}
.fas{
    padding-left: 5px;
}

.camera{
    position: absolute;
    margin-left: -460px;
    margin-top: 40px;
    z-index: 1;
}

/* logo */

hr{
    opacity: .2;
}
.logo{
    margin-top: 100px;
    text-align: center;
}
.logo>img{
    margin: 36px 31px;
    align-items: center;
}
.logo>img:hover{
    cursor: pointer;
    width: 150px;
    transition: width 5s ease;
}

/* products */

section>h1{
    text-align: center;
    font-size: 60px;
    padding-top: 100px;
    padding-bottom: 30px;
}

section> .gallery{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    justify-content: space-between;
    margin: 30px;
}
.product{
    width: 300px;
    padding: 17px 14px;
    margin-bottom: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.gallery .product img{
    border-radius: 5px;
    width: 300px;
    height: 256px;
}

section> .gallery h2{
    padding-top: 16px;
    padding-bottom: 6px;
    font-size: 35px;
}

.gallery p{
    font-size: 23px;
    color: orangered;
}
.gallery .product .star .fas{
    color: gold;
    margin: 0;
    padding: 10px 4px 10px 0px;
}
.see-more{
    position: relative;
}
.see-more .btnn{
    position: absolute;
    top: -40px;
    right: 80px;
    color: #E02C6D;
    font-size: 40px;
    font-weight: 700;
}

/* contact */

.contact>h1{
    text-align: center;
    padding-top: 100px;
}
.all-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pic-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
}

.form-image{
    width: 40%;
}
.form-div{
    width: 55%;
    margin-right: 5%;
}
fieldset{
    border: 4px solid orangered;
    border-radius: 10px;
    padding: 4%;
}
legend{
    font-size: 25px;
    color: red;
}
form p{
    font-size: 20px;
    padding: 4px 0px;
}
input{
    padding: 2px 5px;
    border-radius: 5px;
    border: 2px solid orangered;
}

textarea{
    padding: 2px 5px;
    border-radius: 5px;
    border: 2px solid orangered;
}

/* footer */

footer{
    margin-top: 100px;
    padding: 30px 0px;
    align-items: center;
    text-align: center;
    color:white;
    background-color: black;
}
footer>h2{
    font-size: 35px;
    padding-bottom: 10px;
}





/* media queary */

@media only screen and (max-width: 480px){
    .heading{
        display: none;
    }
    *{
        margin: 0;
        padding: 0;
    }
    
    h1{
        font-size: 40px;
    }



    .btn{
        font-size: 1rem;
        margin-top: 20px;
        padding: 10px 25px;
        display: inline;
    }
    .btn:hover{
        font-size: 25px;
    }

    .see-more .btnn{
        font-size: 30px;
    }

    section,main{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    main{
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    /* left part */
    .upper-left-part{
        padding-left: 7%;
        padding-right: 10%;
    }
    .upper-left-part>h1 {
        font-size: 40px;
    }
    .upper-left-part span{
        font-size: 40px!important;
    }

    /* right image */
    .upper-right-part{
        padding-left: 5%;
        padding-right: 10%;
    }
    .upper-right-part:hover{
        transition: none;
    }
    .upper-right-part img{
        justify-content: center;
        padding-top: 30px;
        width: 300px;
        height: 300px;
    }

    .camera{
        position: absolute;
        margin-left: -290px;
        margin-top: 0px;
        z-index: 1;
    }

    .logo{
        display: none;
    }
    

    section>h1{
        font-size: 40px;
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: left;
    }

    section> .gallery {
        display: block;
        align-items: center;
        margin: 0px;
    }

    .see-more .btnn{
        /* text-align: center; */
        top: -25px;
        right: 150px;
    }
    
    .contact h1{
        text-align: left;
    }
    .pic-form img{
        width: 350px;
    }

    .pic-form{
        padding-left: 0px;
        margin-left: 0px;
        flex-direction: column;
    }
    .form-div{
        width: 70%;
        margin-right: 30%;
    }
    .form-image{
        width: 70%;
        margin-right: 30%;
    }
    .opinion> #null{
        width: 150px;
    }
    fieldset{
        padding: 2px;
    }

    

}



/* for tablet */

@media (min-width: 500px) and (max-width: 980px) {
    *{
        /* width: 87%; */
    }
    .heading{
        display: none;
    }

    section>.gallery{
        grid-template-columns:repeat(2,1fr);
    }
    .see-more .btnn{
        top: -372px;
    }
    .pic-form{
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
    }
    .form-image{
        margin-left: -400px;
    }
    .form-image img{
        width: 660px;
    }
    .form-div{
        width: 90%;
    }
    .info{
        position: relative;
    }
    .info .btn{
        position: absolute;
        top: 180px;
    }

}